
<div class="container">
  <div class="row">
    <ul class= "nav nav-pills nav-pills-center">
    <li  class= "active" ><%= link_to "全部餐廳", root_path , role: "presentation"%></li>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category), role: "presentation"%></li>
    <% end %>
  </ul>
  <br>
    <%= render partial: "restaurant_list" %>
  </div>
</div>

